html, body {
  min-height: 100%;
  height: 100%;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.wrapper {
  margin: 0 auto;
  width: 400px;
}

.hedder {
  background-color: #141f40;
  height: 100px;
}

.contents {
  position: relative;
  height: 250px;
  width: 100%;
}

.left-content {
  background-color: #80bfa8;
  height: 100%;
  width: 37.5%;
  float: left;
}

.right-content {
  height: 100%;
  width: 62.5%;
  float: right;
  position: relative;
}

.right-top {
  width: 100%;
  height: 60%;
  position: relative;
}

.yellow {
  background-color: #dbd400;
  width: 60%;
  height: 33.4%;
  float: left;
}

.blue {
  background-color: #0093b7;
  width: 60%;
  height: 66.6%;
  float: left;
}

.pink {
  background-color: #ff9e6b;
  width: 40%;
  height: 100%;
  float: right;
}

.right-under {
  background-color: #8c2727;
  width: 100%;
  height: 40%;
}

.footer {
  background-color: #d98d30;
  width: 100%;
  height: 100px;
}