html, body {
  min-height: 100%;
  height: 100%;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.wrapper {
  margin: 0 auto;
  width: 400px;
}

.hedder {
  background-color: #141f40;
  height: 100px;
}

.side-header {
  background-color: white;
  width: 40%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
  margin: 20px;
}

.hed-box1, .hed-box2, .hed-box3 {
  height: 40px;
  background-color: #a9004b;
  width: 40px;
  justify-content: space-around;
}

.contents {
  position: relative;
  height: 250px;
  width: 100%;
}

.left-content {
  background-color: #80bfa8;
  height: 100%;
  width: 37.5%;
  float: left;
}

.right-content {
  background-color: #8c2727;
  height: 100%;
  width: 62.5%;
  float: right;
  display: flex;
  justify-content: space-around;
}

.right-case {
  margin: 40px 60px 40px 40px;
}

.case1, .case2, .case3 {
  background-color: #ff863f;
  width: 130px;
  height: 40px;
  margin-bottom: 5px;
  border: 5px solid white;
}

.footer {
  background-color: #d98d30;
  width: 100%;
  height: 100px;
}